@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
table {
  margin-top: 5px;
}

table th {
  background-color: burlywood;
}
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  font-family: "Poppins", sans-serif;
}
.pagination {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.step-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.step-links a {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
}

.step-links a:hover {
  background-color: #ddd;
}

.step-links .current {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: #ddd;
  color: #333;
}
.header {
  background-color: burlywood;
  width: 100%;
  line-height: 20px;
  margin-bottom: 15px;
  border-radius: 0 0 10px 10px;
  padding: 20px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.header nav ul a {
  color: black;
  font-size: 1rem;
  border: 1px solid gray;
  padding: 6px;
  border-radius: 10px;
}
.header nav ul a:hover {
  background-color: antiquewhite;
}
.search input {
  padding: 5px;
  border-radius: 10px;
}
.search input:first-child {
  border: 1px solid burlywood;
}
.search input:first-child:focus {
  outline: none;
}
.search input:last-child {
  border: 1px solid burlywood;
  background-color: #fff;
}
.search input:last-child:hover {
  cursor: pointer;
  background-color: burlywood;
}
.ecart {
  font-size: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
  gap: 5px;
  padding: 5px;
  border-radius: 10px;
}
.type span {
  color: gray;
}
.type .form select {
  border: 1px solid burlywood;
  padding: 5px;
  border-radius: 10px;
}
.type .form select:focus {
  outline: none;
}
.type input {
  border: 1px solid burlywood;
  background-color: #fff;
  padding: 5px;
  border-radius: 10px;
}
.type input:hover {
  cursor: pointer;
  background-color: burlywood;
}
.x {
  display: flex;
  justify-content: center;
  align-items: center;
}
.x .formE {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 10px;
  gap: 10px;
  padding: 10px;
}
.x .formE .flex {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}
.x .formE input {
  border: 1px solid burlywood;
  padding: 5px;
  border-radius: 10px;
}
.x .formE .send {
  width: 80%;
}
.x .formE h1 {
  font-size: 20px;
  color: gray;
}
.x .formE .flex select {
  border: 1px solid burlywood;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
}
.x .formE .flex select:focus {
  outline: none;
}
/*Inputs*/
.field {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  background-color: antiquewhite;
  border-radius: 4px;
  padding: 0.5em 1em;
}

.input-icon {
  height: 1em;
  width: 1em;
  fill: #ffeba7;
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #d3d3d3;
}

.check {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
