{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>list etudiant</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <header class="header">
    <h2>Gestions des Etudiant</h2>
    <nav>
      <ul>
        <li>
          <a href="{% url 'acceuil' %}">Accueil</a>
        </li>
          {% if request.user.is_authenticated %}
          {% if request.user.is_professeur %}

        <li>
          <a href="{% url 'detail' %}">ecart type</a>
        </li>
        <li>
          <a href="{% url 'etudiant' %}">Ajouter un Etudiant</a>
        </li>
        <li>
          <a href="{% url 'cours' %}">Ajouter un cours</a>
        </li>
        <li>
          <a href="{% url 'note' %}">Ajouter un note</a>
        </li>
        <li>
          <a href="{% url 'account_logout' %}">Logout</a>
        </li>
        {% endif %}
        {% endif %}
      </ul>
    </nav>
  </header>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>
